footer{
    font-family: sans-serif;
    background-color: #757475;
    display: flex;
    justify-content: left;
    color: white;
    padding: 15px 0;
    ul{
        margin: 0;
        display: inline-block;
        list-style-type: none;
        a{
            color: white;
            text-decoration: none;
            &:hover{
                color: #cdcdcd;
            }
        }
    }
}